body {
    background-color: rgb(230, 20, 20);
}
//Bandeu du haut 
.nav {
    color: rgb(69, 145, 103);

    &__air-bnb {
        display: inline-block;
        width: 2%;
        height: auto;
    }

    &__Airbnb {
        display: inline-block;
    }

    &__liste {
        display: inline-block;

        &__1 {
            display: inline;



        }

    
}
.air-bnb{
    display: inline-block;
    width:2%
   height:

}


    
